<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='graphics/ecoride-logo.svg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - ecoRide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/assets/app-CbouNtjt.css') }}" />
    <script type="module" src="{{ url_for('static'), filename='/dist/assets/app-DA2uj2ba.js' }}"></script>
    {% endblock %}
  </head>
  <body class="bg-[var(--color-base)] text-[var(--color-contrast)] font-sans font-semibold flex flex-col items-center">
   <div id="banner">
     {% block banner %}
      {% include "partials/banner.html" %}
     {% endblock %}
   </div>
   <div id="header" class="fixed top-2 flex flex-col justify-center items-center w-full h-[72px]">
     {% block header %}
      {% include "partials/header.html" %}
     {% endblock %}
   </div>
   <div id="main-content" class="w-[70%] bg-var(--color-base)">
     {% block main %}
      MAIN CONTENT
     {% endblock %}
   </div>
   <footer id="footer" class="flex w-full p-4 bg-base3 justify-center items-center">
     {% block foot %}
      {% include "partials/footer.html" %}
     {% endblock %}
   </footer>
  </body>
</html>
