{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block main %}
<main id="index-main" class="p-8 min-h-screen flex flex-col items-center">
  <section class="w-[60%] p-12 rounded-lg">
    <h2 class="text-2xl mb-4">Mentions Legales</h2>
    <h3 class="text-xl mb-2">Éditeur du site</h3>
    <p class="mb-4">EcoRide est une plateforme de mise en relation pour le covoiturage éco-responsable.</p>
    <p class="mb-4">Adresse : 123 Rue de l'Écologie, 75000 Paris, France</p>
    <p class="mb-4">Email : ecoride@org.com</p>
    <h3 class="text-xl mb-2">Hébergement</h3>
    <p class="mb-4">Le site est hébergé par <strong>HébergeurWeb</strong>.</p>
    <p class="mb-4">Adresse : 456 Rue de l'Hébergement, 75000 Paris, France</p>
    <p class="mb-4">Site web : <a href="https://vem-drop.xyz" class="text-apart">vem-drop.xyz</a></p>
    <h3 class="text-xl mb-2">Propriété intellectuelle</h3>
    <p class="mb-4">Tous les contenus présents sur le site EcoRide, y compris les textes, images, logos et graphiques, sont protégés par des droits d'auteur et ne peuvent être reproduits sans autorisation préalable.</p>
    <h3 class="text-xl mb-2">Données personnelles</h3>
    <p class="mb-4">EcoRide s'engage à protéger vos données personnelles conformément à la réglementation en vigueur. Pour plus d'informations, veuillez consulter notre Politique de confidentialité.</p>
    <h3 class="text-xl mb-2">Cookies</h3>
    <p class="mb-4">Le site utilise des cookies pour améliorer votre expérience de navigation. En continuant à utiliser le site, vous acceptez l'utilisation de ces cookies. Pour en savoir plus, consultez notre Politique de cookies</p>
  </section>
</main>
{% endblock %}
