<section class="flex flex-col gap-4 justify-center w-full">
  <div class="flex flex-row gap-4 bg-ground2 justify-left items-center">
    <div class="p-4 w-48 h-48">
      <img src="{{ url_for('static', filename='graphics/default-profile2.jpg') }}" alt="profile-pic" class="object-cover rounded-full">
    </div>
    <div class="p-4 flex gap-4">
      <div class="p-4">
        <h2 class="text-xl font-semibold mb-2">Your Profile</h2>
        <p>Username: {{ current_user.username }}</p>
        <p>Email: {{ current_user.email }}</p>
        {% if owner %}
          <div id="credits-container" hx-get="{{ url_for('users.get_account_credits') }}" hx-trigger="load" hx-swap="innerHTML">
            Loading credits...
          </div> 
        {% endif %}
      </div> 
      <div id="roles-container" class="flex flex-col p-4 gap-4">
        <p>Rôles: {{ roles }}</p>
        {% if owner %}
          <button
            class="p-2 bg-ground3 text-ground1 rounded-sm hover:bg-ground4"
            hx-get="{{ url_for('users.edit_roles') }}"
            hx-target="#roles-container"
            hx-swap="innerHTML"
          >
          Modifier les rôles
          </button>
        {% endif %}
      </div>
    </div>
  </div>
</section>

