<div class="relative inline-block">
  <button
    onclick="toggleHidden('user-dropdown')"
    class="p-2 flex flex-row rounded-xl hover:bg-base3 transition-colors duration-200"
  >
    <svg viewBox="0 0 24 24" class="w-[24px] h-[24px]">
      {% include "graphics/user-icon.html" %}
    </svg>
  </button>
  <div id="user-dropdown" class="dropdown hidden p-2 absolute flex flex-col rounded-sm gap-2 bg-base2">
    {% if not current_user.is_authenticated %}
      <a href="{{ url_for('pages.login') }}" class="flex flex-row rounded-xs gap-2 bg-base2 hover:bg-base3 transition-colors duration-200">
        <p> Connexion </p>
      </button>
      <a href="{{ url_for('pages.registration') }}" class="flex flex-row rounded-xs gap-2 bg-base2hover:bg-base3 transition-colors duration-200">
        <p> Inscription </p>
      </a>
      <a href="{{ url_for('pages.contact') }}" class="flex flex-row rounded-xs gap-2 bg-base2 hover:bg--base3transition-colors duration-200">
        <p> Contact </p>
      </a>
    {% elif current_user.is_authenticated and current_user.user_id %}
      <a href="{{ url_for('pages.profile', user_id=current_user.user_id) }}" class="flex flex-row rounded-xs gap-2 bg-base2 hover:bg-base3transition-colors duration-200">
        <p> Tableau de bord </p>
      </button>
      <a href="{{ url_for('pages.contact') }}" class="flex flex-row rounded-xs gap-2 bg-base2 hover:bg-base3 transition-colors duration-200">
        <p> Contact </p>
      </a>
      <a href="{{ url_for('auth.logout') }}" class="flex flex-row rounded-xs gap-2 bg-base2hover:bg-base3 transition-colors duration-200">
        <p> Deconnexion </p>
      </a>
    {% endif %}
  </div>
</div>
