annotated-types==0.7.0
bcrypt==4.3.0
blinker==1.9.0
cachelib==0.13.0
click==8.2.1
dnspython==2.7.0
email_validator==2.2.0
Faker==37.4.2
Flask==3.1.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
geographiclib==2.0
geopy==2.4.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msgspec==0.19.0
psycopg==3.2.9
psycopg-pool==3.2.6
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.1
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
Werkzeug==3.1.3
